<app-header></app-header>
<header>

 
  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay"  loop="loop">
    <source src="assets/video/video2.mp4" type="video/mp4">
  </video>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
    
        <h1 class="display-3">WONGWEAN SRAKEAW HOTEL</h1>
        <p class="lead mb-0">Top 10 best luxury hotel in the world</p>
        <div class = "pt-4">
       <button pButton pRipple type="button" (click)="tobook()"label="BOOK NOW" class="p-button-rounded p-button-secondary" href="search"></button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pt-4">

 <div class="p-3 text-center">
<h2>Hotel Overview</h2>
</div>
<p class="text-center">
Alluring in its elegance and captivating in its authentic nod to Thai culture, The Athenee Hotel, a Luxury Collection Hotel, Bangkok welcomes you for a 5-star stay. Nestled along the tree-lined Wireless Road in the centre of Bangkok’s business and embassy district, our hotel stands on the site of Kandhavas, the royal palace of HRH Princess Valaya Alongkorn, daughter of King Rama V.
</p>
<p class="text-center">
Timeless luxury woven into our modern times is integral to The Athenee, which has 374 rooms and suites that define a sumptuous style of living, with suites that pay a special homage to Thailand’s storied history. All accommodations feature a Luxury Collection bed dressed in pure white cotton, topped with feather pillows and a lightweight duvet. In the bathroom, discover a large bathtub, a separate shower with a handheld showerhead, plush bathrobes and slippers and a generous selection of signature bath products.
</p>
<p class="text-center">
Guests of our Athenee Club Rooms enjoy access to a world of exclusive amenities at The Royal Club Lounge. A visit to our 5-star hotel celebrates Bangkok's romantic royal past with suites that infuse 19th century European and Asian décor, as well as a collection of exciting and original restaurants, a sumptuous spa and a rooftop swimming pool in a garden setting. In the heart of Bangkok, the BTS Skytrain’s Phloen Chit station is within three minutes’ walking distance, and the associated Skywalk means that prime shopping venues such as Central Embassy, CentralWorld and Siam Paragon may be reached comfortably on foot.
</p>
<p class="text-center">
For meetings and events, our luxury hotel is a prime venue in Bangkok, with 30 function rooms offering flexibility for any gathering, intimate or spectacular. Our 5-star hotel is well-known as a certified ISO20121 hotel for Sustainability Event Management Systems.
</p>
</div>


<!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card bg-secondary h-100">
                        <div class="card-body">
                            <h2 class="card-title  text-white ">Rain Tree Café</h2>
                            <img src = "assets/home/home2.jpg" class="img-fluid  rounded">
                            <p class="card-text text-white text-center">Our all-day restaurant in Bangkok, Rain Tree Café, serves a wide variety of gourmet international cuisines for breakfast, lunch and dinner. Talented chefs at live cooking stations prepare dishes a la minute.</p>
                        </div>
                    
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-secondary h-100">
                        <div class="card-body">
                            <h2 class="card-title  text-white ">Japanese & Tatami</h2>
                             <img src = "assets/home/home3.jpg" class="img-fluid  rounded">
                            <p class="card-text text-white text-center">Explore the culinary landscape of Japan at Kintsugi. the menu offers the subtle tastes and textures of the finest contemporary and traditional sushi. Each dish is beautifully executed and expresses the chef’s artistic flair and experience.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-secondary h-100">
                        <div class="card-body">
                            <h2 class="card-title  text-white ">Rooms & Suites</h2>
                             <img src = "assets/home/home4.jpg" class="img-fluid  rounded">
                            <p class="card-text text-white text-center">Our accommodations conspire royal elements from Thai epochs with motifs drawn from the palace and our hotel honors to create intriguing aesthetic impressions.</p>
                        </div>
                       
                    </div>
                </div>