<app-headerhotel></app-headerhotel>
<div class="row">

            <div class="card ">
                <div class="row">
                        <div class="col">
                        <h3>Dashboard</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h5>จำนวนคน</h5>
                            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                        </div>
                         </div>
                              <div class="col">
                          <app-bookinghistory> </app-bookinghistory>
                        </div>
                 </div>
            </div>
       
    </div>