<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-primary bg-light ">
  <div class="container">
    <div align="left">
      <a class="navbar-brand" href="#">AgoTa</a>
    </div>
    <div align="right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="payment">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bookinghistory">bookinghistory</a>
        </li>
      </ul>
    </div>
    <div align="right">
      <!-- Modal -->
      <a class="p-button-rounded p-button-success fa fa-user-circle" type="button" label="Confirm"
        data-bs-toggle="modal" data-bs-target="#exampleModal" aria-hidden="true"> User</a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header ">
              <h5 class="modal-title fa fa-user-circle" id="exampleModalLabel"> Username</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="left">
              คุณต้องการที่จะล็อกเอาท์หรือไม่
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
              <a type="button" class="btn btn-primary" href="home">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<div class="mt-5 p-4 bg-primary text-white text-center">
  <span class="text-Light">© 2021 AgoTa Company, Inc</span>
</div>


<!-- **********************TEST***************************** -->