<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" [(ngModel)]="term" name="search" autocomplete="off"
        placeholder="&#61442;  Search by room Name,roomID,description">
    </div>
  </div>

  <br />
  <hr>
  <div class="container"> 
    <div class="row">
      
        <div class="col-sm">
          <div col-4>
            <div class="  bg-primary text-center">Hotel </div>
            <a class="list-group-item list-group-item-action " *ngFor="let search of search | filter : term ">
              <div *ngIf="search">
                <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                  {{search.price}} Bath
                </div>
                <!-- <img  src="assets/img/room5.jpg" alt="..." /> -->
                <div class="card-body p-4">
                  <div class="list-group">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Name: {{search.name}}</h5>
                      <p class="mb-1">Price :{{search.price}} Bath</p></div>
                      <h5 class="mb-1"> Address: {{search.address}}</h5>
                      <h5 class="mb-1">            Phone : {{search.phone}}</h5>
                      <h5 class="mb-1">   roomsize : {{search.sizeroom}}</h5>
                      <h5 class="mb-1">   totalroom : {{search.totalroom}}</h5>
                   
                   
                    <button class="btn btn-primary"  href="roomdetail" type="submit">Choose</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>



  
      