.bt{
    
    border: 1px stroke blue;
    border-color: primary;
}


.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #000000;
    font-size: 14px;
    box-sizing: border-box;
    }