<html lang="en">
    <div class="container">
        <div class="col-12">
            <h2  class="text-center">ประวัติการจอง</h2> 
        </div>
        <div class="col">
            <div class="card">
                <h3>My Room</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Telephone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Number of Days</th>
                            <th scope="col">Price</th>
                            <th scope="col">Hotel Name</th>
                            <th scope="col">Hotel Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let booking of _bookinghistoryList; let i = index;'>
                            <td>{{i+1}}</td>
                            <td>{{booking.nameU}}</td>
                            <td>{{booking.tel}}</td>
                            <td>{{booking.email}}</td>
                            <td>{{booking.dayNumb}}</td>
                            <td>{{booking.priceAll}}</td>
                            <td>{{booking.nameHo}}</td>
                            <td>{{booking.telHo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</html>
