<div class="container pt-5" align="center" style="background-image: url('../../assets/img/login.jpg'); width: 1600px; height: 900px;">
    <div class="card py-3 my-5" style="width: 500px;" align="left">
        <div class="card-body">
            <div class="row">
                <h6>Register</h6>
            </div>
            <form [formGroup]="form">
                <div class="form-group">

                    <div class="row py-2 px-2">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="FIRSTNAME"
                                formControlName="fname" maxlength="50">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="LASTNAME"
                                formControlName="lname" maxlength="50">
                        </div>
                    </div>
                    <br>
                    <div class="row py-2 px-2">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="E-MAIL"
                                formControlName="email" maxlength="50">
                        </div>
                    </div>
                    <br>
                    <div class="row py-2 px-2">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="USERNAME"
                                formControlName="username" maxlength="50">
                        </div>
                    </div>
                    <br>
                    <div class="row py-2 px-2">
                        <div class="col">
                            <input type="password" class="form-control" placeholder="PASSWORD"
                                formControlName="password" maxlength="50">
                        </div>
                    </div>
                    <br>
                    <div class="row py-2 px-2">
                        <div class="col">
                            <input type="password" class="form-control" placeholder="CONFIRM PASSWORD"
                                formControlName="confpassword" maxlength="50">
                        </div>
                    </div>
                    <br>
                    <div class="row py-2 px-2" align="center">
                        <div class="col">
                            <button pButton type="button" (click)="onRegister()" label="REGISTER"></button>
                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col">
                            <a href="login">or, Login</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>