<div class="container-fluid  py-5">
    <div class="row d-flex justify-content-center ">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 ">
            <div class="card border-0">
                <div class="row">
                        <div class="col">
                        <h3 class="mb-4">Credit Card Checkout</h3>
                        </div>
                
                      
                </div>
                <div class="row">
                    <div class="col-sm-7 border-line pb-3">
                        <div class="form-group">
                            <p class="text-muted text-sm mb-0">Name on the card</p>

                              <input type="text" placeholder="Name" size="20" pInputText [(ngModel)]='_name'> 
                        </div>



                        <div class="form-group">
                            <p class="text-muted text-sm mb-0">Card Number</p>
                            <div class="row"> 
                            <div class="col">
                               <input type="Number" placeholder="0000 0000 0000 0000" size="19" minlength="16" maxlength="16" pInputText [(ngModel)]='_number'> 
    
                           /<img class="image ml-1" src="https://i.imgur.com/WIAP9Ku.jpg">
                            </div>
                        
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-muted text-sm mb-0">Expiry date</p> 
                            <input type="Number" placeholder="MM/YY" size="6" minlength="5" maxlength="5" pInputText [(ngModel)]='_expiry'>
                        </div>
                        <div class="form-group">
                            <p class="text-muted text-sm mb-0">CVV/CVC</p> 
                            <input type="password"  placeholder="000" size="1" minlength="3" maxlength="3" pInputText [(ngModel)]='_cvv'>
                        </div>
                        
                    </div>
                    <div class="col-sm-5 text-sm-center justify-content-center pb-4"> 
                    <small class="text-sm text-muted">Order number</small>
                        <h5 class="mb-5">12345678</h5> 
                        <small class="text-sm text-muted">Payment amount</small>
                        <div class="row px-3 justify-content-sm-center">
                              
                            <h2 >
                             ฿<span class="text-primary">59.49</span>
                            </h2>
                             <button pButton pRipple type="button"  (click)='submitpayment()' [disabled]="!_name||!_number||!_expiry||!_cvv" label="PAY" class="p-button-rounded mt-2"></button>

                            
                            <p-toast></p-toast>
                            <p-toast position="top-left" key="tl"></p-toast>
                            <p-toast position="top-center" key="tc"></p-toast>
                            <p-toast position="bottom-center" key="bc"></p-toast>

                            <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
                                <ng-template let-message pTemplate="message">
                                    <div class="p-flex p-flex-column" style="flex: 1">
                                        <div class="p-text-center">
                                            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                                            <h4>{{message.summary}}</h4>
                                            <p>{{message.detail}}</p>
                                        </div>
                                        <div class="p-grid p-fluid">
                                            <div class="p-col-6">
                                                <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                                            </div>
                                            <div class="p-col-6">
                                                <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-toast>
                        </div>
                       
                    </div>
                        </div>
                            <span class="p-ml-2">{{_name}}</span>
                            <span class="p-ml-2">{{_number}}</span>
                            <span class="p-ml-2">{{_expiry}}</span>
                            <span class="p-ml-2">{{_cvv}}</span>
                       
                            <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                          
                                <th scope="col">Name</th>
                                <th scope="col">Number</th>
                                <th scope="col">expiry</th>
                                <th scope="col">cvv</th>
                              
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let payment of _paymentList; let i = index;'>
                                    <td>{{i+1}}</td>
                               
                                    <td>{{payment.name}}</td>
                                    <td>{{payment.number}}</td>
                                    <td>{{payment.expiry}}</td>
                                    <td>{{payment.cvv}}</td>
                                    
                                </tr>
                            </tbody>
                            </table>
                           

    
    



            </div>
        </div>
    </div>
</div>