<div class="container">
    <div class="row">

            <div class="card">
                <div class="row">
                        <div class="col">
                        <h3>Dashboard</h3>
                        </div>
                </div>
                <div class="row">

                          

                 </div>
            </div>
       
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <h3>Add Room</h3>
                
                    
                <div class="row">
                <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
                        <div class="p-field p-col-12 pt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText size="57" > 
                            <label for="inputtext">Name Hotel</label>
                        </span>
                         </div>

                         <div class="p-col-12 pt-2">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">฿</span>
                                <input type="text-center"  pInputText placeholder="Price" >   
                                <span class="p-inputgroup-addon">.00</span>      
                            </div>
                        </div>
                    </div>
                    
                    <div class ='row pt-2 '> 
                   
                  
                
                      <div class="p-field p-col-12 pt-4">
                        <span class="p-float-label">
                            
                  
                         <input type="text" id="inputtext" pInputText size="57" > 
                            <label for="inputtext">address</label>
                        </span>
                         
                            <div class="p-field p-col-12 p-md-3">
                                <label for="minmax-buttons">size room</label>
                                <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="20" [max]="100" spinnerMode="horizontal" [step]="0.25">
                                </p-inputNumber>
                            </div>
                            <div class="p-field p-col-12 p-md-3">
                                <label for="minmax-buttons">number room</label>
                                <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                                </p-inputNumber>
                            </div>
                         </div>
                    </div>  

               
               
                    <div class="p-col-12 p-md-1 g-2">
                         <span>Gmail </span>
                    <input type="text" pInputText  placeholder="Enter gmail">
                </div>




                <div class="p-col-12 p-md-6 p-lg-2">
                            <span>Phone </span>
                            <p-inputMask mask="(999) 999-9999"  placeholder="(999) 999-9999"></p-inputMask>
                        </div>


                    <p class="text-muted text-md pt-4">Facilities</p>
                    <div class="row">

                    

                        <div class="col">             
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Wi-Fi</label>
                            </div>
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Free breakfast</label>
                            </div>
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Aircondition</label>
                            </div>
                            
                          

                         </div>
                         
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="fฃorm-check-label" for="exampleRadios1">Pet(cat-dog)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Parking</label>
                            </div>
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Pool</label>
                            </div>
                        </div>
                         
                     </div>  
                               

                        
                        <button pButton pRipple type="button"  label="PAY" class="p-button-rounded mt-2"></button>
                    

            </div>
        </div>
         <div class="col">
            <div class="card">
                <h3>My Order</h3>
            </div>
        </div>
                
    </div>
 