<div class="container">


<div class="col-12">
    <h2  class="text-center">ข้อมูลผู้เข้าพักและรายละเอียดการจอง</h2> 
</div>
  
        <div class="row pt-3">
            <div class="col-md-6 col-12">
                <div class="row pt-2">
                    <div class="col-4">
                        <h5>ชื่อ-นามสกุล : </h5>
                    </div>
                    <div class="col-8">
                        <input disabled="" data-element-name="name-input" autocomplete="name" value="" >
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h5>E-mail : </h5>
                    </div>
                    <div class="col-8">
                        <input disabled="" value="" >
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h5>เบอร์โทรศัพท์ : </h5>
                    </div>
                    <div class="col-8">
                        <input disabled="" value="" >
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row pt-2">
                        <div class="col-4">
                                <h5>ชื่อโรงแรม : </h5>
                        </div>
                        <!-- <div class="col-8">
                                <input disabled="" value="" >
                        </div> -->
                    </div>
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>ที่อยู่โรงแรม : </h5>
                        </div>
                        <!-- <div class="col-8">
                                <input disabled="" value="" >
                        </div> -->
                    </div>
            </div>
        </div>

        <div class="row pt-3">
                <div class="col-md-6 col-12">
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>วันที่จองโรงแรม : </h5>
                        </div>
                        <div class="col-8">
                                <input disabled="" value="" >
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>รูปแบบห้อง : </h5>
                        </div>
                        <div class="col-8">
                                <input disabled="" value="" >
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>จำนวนของเตียง : </h5>
                        </div>
                        <div class="col-8">
                                <input disabled="" value="" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>ราคาที่พัก/คืน : </h5>
                        </div>
                        <div class="col-6">
                                <input disabled="" value="" >
                        </div>
                        <div class="col-2">
                                <h5>บาท</h5>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>เข้าพักจำนวน : </h5>
                        </div>
                        <div class="col-6">
                                <input disabled="" value="" >
                        </div>
                        <div class="col-2">
                                <h5>วัน</h5>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4">
                                <h5>ราคารวมทั้งสิ้น : </h5>
                        </div>
                        <div class="col-6">
                                <input disabled="" value="" >
                        </div>
                        <div class="col-2">
                                <h5>บาท</h5>
                        </div>
                    </div>
                </div>
            </div>
    
        <div class="row footer p-5">
            <div class="col-12">
                <h2 class="text-center">
                    โปรดทำการชำระเงินในหน้าต่อไป เพื่อยืนยันการจองที่พัก
                </h2>
                <img src="assets/img/payment.png" class="img-fluid  rounded" />
            </div>
        </div>
        <div class="row pt-3">
            <button pButton pRipple type="button" label="Confirm" class="p-button-rounded p-button-success" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                <!-- <a pButton pRipple type="button" label="Confirm" href="payment"></a> -->
                <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ชำระเงิน</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            โปรดเลือกประเภทการชำระเงิน
                    </div>
                    <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" href="#">ชำระเงินภายหลัง</a>
                            <a type="button" class="btn btn-primary" href="payment" >ชำระเงินเลย</a>
                    </div>
                    </div>
                    </div>
                    </div>
        </div>
    </div> 
    